* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Prosto One', cursive;
}

#form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666;
  padding: 5px;
  display: flex;
  height: 100px;
  align-items: center;
}

.name {
  height: 35px;
  background: beige;
  padding: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  font-style: 14px;
  font-weight: 300;
}

#input {
  height: 35px;
  border-radius: 30px;
  border: none;
  margin: 5px;
  padding: 0 25px;
  display: flex;
  width: 100%;
  outline: none;
}

.btn {
  background: #222;
  border: none;
  width: 300px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  color: #fff;
  border-radius: 5px;
}

#messages {
  list-style: none;
  margin: 0;
  padding: 0;

}

#messages>li {
  padding: 10px;
}

#messages>li>span {
  font-weight: 500;
}

#messages>li:nth-child(odd) {
  background: #555;
}